/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@200;400&display=swap');

body {
  font-family: 'Roboto Mono', monospace;
  padding: 0;
  margin: 0;
}

fast-design-system-provider {
  display: block;
}

.full-width-height {
  width: 100%;
  // Minus navigation bar height
  height: calc(100vh - 85.875px);
}
